<html>
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Merriweather|Montserrat|Mukta|Oswald|PT+Serif|Playfair+Display|Roboto|Roboto+Slab|Slabo+27px|Titillium+Web" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/upload.css">

<img id="logo" src="static/rb.png" alt="rechtbank logo">
<h1>Upload document to process</h1>
<div id="submit">
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
</div>
</html>